* {
    box-sizing: border-box;
}

#hero {
    height: 100vh;
    background-image: url('../images/hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}

.white-text {
    color: white;
}

.section-heading{
    font-weight: bold;
    margin: 50px 0 30px 0;
}

#site-map span a{
    text-transform: none;
    color: white;
}

.social-links{
    height: 50px;
}

.index-card-body{
    min-height: 150px;
}

.detailed-event{
    width: 50%;
}

.sign-up-form {
    height: 100vh;
    background-image: url('../images/yuka-yamazaki-PfBZs461d4w-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}

.form-container{
    width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

.form-logo{
    width: 100px;
    height: 100px;
}

@media (max-width: 576px){
    .index-card-body{
        min-height: 200px;
    }

    .detailed-event{
        width: 90%;
    }
}
@media (min-width: 577px) and (max-width: 768px){
    .detailed-event{
        width: 70%;
    }
}