* {
    box-sizing: border-box;
}

#hero {
    height: 100vh;
    background-image: url('../images/hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
}

.white-text {
    color: white;
}

.section-heading{
    font-weight: bold;
    margin: 50px 0 30px 0;
}